@import "tailwindcss";

@theme {
  --color-primary: #5048e5;
  --color-secondary: #8b5cf6;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;
  --font-display: var(--font-display), sans-serif;
}
